{
  "extends": "airbnb",
  "plugins": [
    "react"
  ],
  "rules": {
    "import/extensions": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "max-len": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": 0,
    "react/react-in-jsx-scope": 0
  },
}
